# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2022-2023 Dell Inc, or its subsidiaries.
---
version: "3.7"

services:

  opi-smbios-server:
    build:
      context: .
    ports:
      - "8082:8082"
      - "50051:50051"
    networks:
      - opi
    depends_on:
      redis:
        condition: service_healthy
    command: /opi-smbios-bridge -grpc_port=50051 -http_port=8082
    healthcheck:
      test: grpcurl -plaintext localhost:50051 list || exit 1

  redis:
    image: redis:7.2.2-alpine3.18
    networks:
      - opi
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]

  opi-gw-test:
    image: curlimages/curl:8.4.0
    networks:
      - opi
    depends_on:
      opi-smbios-server:
        condition: service_healthy
    command: curl -qkL http://opi-smbios-server:8082/v1/inventory/1/inventory/2

  opi-test:
    image: namely/grpc-cli
    networks:
      - opi
    depends_on:
      - opi-gw-test
    command: call --json_input --json_output opi-smbios-server:50051 GetInventory "{}"

networks:
  opi:
